@charset "UTF-8";

div#tv-radio{
	width: 900px;
	height: 580px;
	margin: auto;
	background: url(../_imagens/radio-tv.png) no-repeat;
}

audio#musica{
	display: block;
	position: relative;
	left:575;
	top: 500;
	width: 300px;
}

video#filme{
	display: block;
	position: relative;
	left: 77px;
	top: 85px;
	width: 460px;
}
